.play{
    background: linear-gradient(180deg, black 39%, #3F0040 87%);
    height: 54px;
}


.play i{
    color: #000000;
    gap: 30px;
    align-items: center;
    text-align: center;
    padding: 8px;
}


.play button{
    background-color: #FF9A00;
    color: black;
    border: 2px solid black;
    margin-top: 2px;
    border-radius: 12px;
}